/* noonnu font */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
/* common */
body {
  font-family: "Pretendard-Regular";
  font-size: 13px;
}
.wrap {
  overflow: hidden;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
section {
  position: relative;
  width: 100%;
}
button {
  font-family: "Pretendard-Regular";
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}
p {
  font-family: "Pretendard-Light";
  line-height: 1.5em;
}
h2 {
  font-weight: bold;
}
/* header */
header {
  width: 100%;
  height: 100vh;
}
nav {
  position: fixed;
  padding: 0 45px;
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
  background-color: white;
  z-index: 9999;
}
.nav_menu {
  height: 100%;
}
.nav_menu ul {
  display: flex;
  height: 100%;
}
.nav_menu ul li {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  margin-right: 50px;
}
.nav_menu ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #2956a6;
  transition: 0.2s;
}
.nav_menu ul li:hover::before {
  width: 100%;
}
.nav_menu ul li a {
  font-weight: bold;
  margin-top: 25px;
}
.nav_menu ul li:last-child {
  margin-right: 0;
}
.nav_login {
}
.nav_login i {
  cursor: pointer;
  font-size: 30px;
  margin-right: 30px;
  margin-top: 25px;
}
.nav_login i:last-child {
  margin-right: 0;
}
/* header swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  top: 90% !important;
  background-color: #333 !important;
  color: white !important;
  width: 80px !important;
  height: 80px !important;
}
.swiper-button-prev {
  left: 85% !important;
}
.swiper-button-next {
  left: 90% !important;
}
/* swiper video */
.swiper_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper_video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.swiper_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* swiper_box */
.swiper_box {
  width: 80%;
  height: 70%;
}
.swiper_box_left {
  grid-column: span 6;
  text-align: left;
  color: white;
  position: relative;
}
.swiper_left_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swiper_box_left p:nth-of-type(1) {
  font-size: 1.7em;
}
.swiper_box_left p:nth-of-type(2) {
  font-size: 4.8em;
  font-weight: bold;
}
.swiper_box_left p:nth-of-type(3) {
  margin-top: 1em;
  font-size: 1.2em;
  opacity: 0.5;
}
.swiper_box_left button {
  color: white;
  margin-top: 2em;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.342);
  border: 1px solid white;
  border-radius: 1em;
  transition: 0.3s;
}
.swiper_box_left button:hover {
  background-color: white;
  color: black;
}
.swiper_box_right {
  grid-column: span 6;
}
/* hamburger */
.hamburger {
  position: fixed;
  top: 0;
  right: -450px;
  background-color: white;
  width: 450px;
  height: 100vh;
  z-index: 99999;
}
.hamburger_top {
  padding: 0 1em 0 1em;
  width: 100%;
  height: 115px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger_logo img {
  cursor: pointer;
}
.hamburger_top i {
  cursor: pointer;
  margin-top: 25px;
  font-size: 30px;
}
.hamburger_menu {
  padding: 1em;
}
.hamburger_menu ul {
}
.hamburger_menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4em;
  margin: 15px 0 15px 0;
}
.hamburger_menu > ul > li a:hover {
  text-decoration: underline;
}
.hamburger_toggle {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.hamburger_rotate1 {
  transform: rotate(45deg);
  transition: 0.3s;
}
.hamburger_menu > ul > li a:nth-of-type(1) {
  width: 400px;
}
.hamburger_toggle span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: gray;
}
.hamburger_toggle span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger_toggle span:nth-child(2) {
  top: 45%;
  transform: rotate(90deg);
}
.hamburger_submenu {
  display: none;
}
.hamburger_submenu ul {
}
.hamburger_submenu li {
  padding: 0.7em;
}
.hamburger_submenu li a {
  font-size: 0.6em;
  color: gray;
}
/* main */
main {
  display: block;
  position: relative;
  max-width: 1920px;
  height: 2800px;
  padding: 0px 0px 1900px;
  overflow: hidden;
}
.slogan {
  top: 0;
  left: 0;
  position: relative;
  margin: 0px;
  max-width: 1920px;
  max-height: 952px;
  height: 952px;
  padding: 0px;
  overflow: hidden;
}
.slogan_sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* sec_1 */
.sec_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.slogan_sec1_text {
  color: #2956a6;
  font-size: 3em;
  font-weight: bold;
}
/* sec_2 */
.sec_2 {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: #2956a6;
}

.sec_2_imgbox {
  width: 100%;
  height: 100%;
}
.sec_2_imgbox img {
  position: absolute;
  opacity: 0;
}
/* sec img */
.sec_2_imgbox img:nth-child(1) {
  width: 50%;
  left: 0;
  top: 10%;
}
.sec_2_imgbox img:nth-child(2) {
  width: 50%;
  left: 3%;
  top: 0;
}
.sec_2_imgbox img:nth-child(3) {
  width: 50%;
  left: 6%;
  top: -5%;
}
.sec_2_imgbox img:nth-child(4) {
  left: 9%;
  top: 5%;
}
.sec_2_imgbox img:nth-child(5) {
  width: 50%;
  left: 12%;
  top: 10%;
}
.sec_2_imgbox img:nth-child(6) {
  left: 15%;
  top: 10%;
}
.sec_2_imgbox img:nth-child(7) {
  left: 18%;
  top: 18%;
}
.sec_2_imgbox img:nth-child(8) {
  left: 20%;
  top: 25%;
}
.sec_2_imgbox img:nth-child(9) {
  left: 23%;
  top: 5%;
}
.sec_2_textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  color: white;
}
.sec_2_textbox h2 {
  font-size: 4.8em;
}
.sec_2_textbox p {
  font-size: 1.7em;
  font-weight: 100;
}
/* sec_3 */
.sec_3 {
  position: relative;
  width: 100%;
  height: 200vh;
  margin-top: 100px;
  text-align: center;
}
.sec_3_bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  padding-top: 376px;
  z-index: -1;
}
.sec_3_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.sec_3_textbox {
  padding-bottom: 100px;
}
.sec_3_textbox h2 {
  font-size: 4.8em;
}
.sec_3_textbox p {
  margin-top: 2em;
  font-size: 1.7em;
}
.sec_3_textbox button {
  margin-top: 2em;
  border: 1px solid black;
  background-color: white;
  padding: 1em 2em;
  border-radius: 1em;
}
.sec_3_textbox button:hover {
  background-color: black;
  color: white;
}
.sec_3_imgbox {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.45702030812324934) 0%,
    rgba(0, 0, 0, 0.9472163865546218) 44%,
    rgba(0, 0, 0, 1) 100%
  );
}
.sec_3_circle {
  position: relative;
}
.sec_3_circle img {
}
.circle_text {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  animation: circle 10s infinite linear;
}
.circle_text p {
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  animation: circle 10s infinite linear reverse;
  font-size: 1.7em;
}
.sec_3_circle p:nth-of-type(1) {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.sec_3_circle p:nth-of-type(2) {
  top: 60%;
  left: 20%;
}
.sec_3_circle p:nth-of-type(3) {
  top: 60%;
  right: -55%;
}
.sec_3_circle img {
  animation: circle 10s infinite linear;
}
@keyframes circle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.sec_3_textbox2 {
  text-align: left;
  color: white;
  position: relative;
}
.sec_3_textbox2 h2 {
  font-size: 3em;
  margin-top: 0.7em;
}
.sec_3_textbox2 h2:nth-of-type(1) {
  margin-top: 0;
  font-size: 4.8em;
}
.sec_3_textbox2 p {
  margin-top: 0.5em;
  font-size: 1.7em;
}
/* sec_4 */
.sec_4 {
  background-color: azure;
  padding: 100px 0;
  text-align: center;
}
.sec_4 h2 {
  font-size: 4.8em;
}
.sec_4 p {
  margin-top: 1em;
  font-size: 1.7em;
}
.sec_4 button {
  margin-top: 1.5em;
  background-color: transparent;
  padding: 1em 2em;
  border: 1px solid black;
  border-radius: 1em;
}
.sec_4 button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* sec_5 */
.sec_5 {
  background-color: white;
  padding: 100px 0;
  text-align: center;
}
.sec_5 h2 {
  font-size: 4.8em;
}
.sec_5 p {
  margin-top: 1em;
  font-size: 1.7em;
}
.h2_margin {
  margin-top: 2em;
}
/* swiper2 */
.mySwiper2 {
  margin-top: 2em;
  height: 100%;
  padding-top: 50px !important;
}
.swiper2_box {
  width: 100%;
  height: 500px;
  border: 1px solid gray;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
.swiper2_box:hover {
  transform: translateY(-10px);
}
.swiper2_box_top {
  flex: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper2_box_top h3 {
  color: white;
  font-size: 1.7em;
}
.swiper2_box_bottom {
  flex: 70%;
  padding: 1.5em;
  text-align: left;
}
.swiper2_box_bottom p:nth-of-type(1) {
}
.swiper2_box_bottom p:nth-of-type(2) {
  font-size: 1em;
}
.swiper2_box_bottom p:nth-of-type(3) {
  color: gray;
  font-size: 1em;
}
.swiper2_box_bottom button {
  margin-top: 2em;
  padding: 1em 2em;
  border-radius: 1em;
  background-color: transparent;
}
.swiper2_box_bottom button:hover {
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
}
/* box color */
.bg_color1 {
  background-color: #e83534;
}
.bg_color2 {
  background-color: #3ebcd2;
}
.bg_color3 {
  background-color: #89b929;
}
.bg_color4 {
  background-color: #5f2883;
}
.bg_color5 {
  background-color: #f08300;
}
.bg_color6 {
  background-color: #183c8b;
}
.bg_color7 {
  background-color: #005c97;
}
.bg_color8 {
  background-color: #e85298;
}
.bg_color9 {
  background-color: #5c5758;
}
/* swiper 3 */
.mySwiper3 .swiper2_box {
  display: block;
  height: 100%;
  border: none;
}

.mySwiper3 .swiper2_box_bottom {
  padding: 1em 0 0 0;
}
.mySwiper3 .swiper2_box_top {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}
.mySwiper3 .bg_color1 {
  background-image: url("../image/bg_color1.jpg");
}
.mySwiper3 .bg_color2 {
  background-image: url("../image/bg_color2.jpg");
}
.mySwiper3 .bg_color3 {
  background-image: url("../image/bg_color3.jpg");
}
.mySwiper3 .bg_color4 {
  background-image: url("../image/bg_color4.jpg");
}
.mySwiper3 .bg_color5 {
  background-image: url("../image/bg_color5.jpg");
}
.mySwiper3 .bg_color6 {
  background-image: url("../image/bg_color6.jpg");
}
.mySwiper3 .bg_color7 {
  background-image: url("../image/bg_color7.jpg");
}
.mySwiper3 .bg_color8 {
  background-image: url("../image/bg_color8.jpg");
}
.mySwiper3 .bg_color9 {
  background-image: url("../image/bg_color9.png");
}
.mySwiper3 .swiper2_box_bottom p:nth-of-type(1) {
  margin-top: 0;
}
/* footer */
footer {
  background-color: #101d2f;
}
.footer_wrap {
  max-width: 1300px;
  margin: 0 auto;
  color: white;
}
.footer_menu {
  grid-column: span 12;
}
.footer_menu ul {
  padding-top: 1em;
  display: flex;
}
.footer_menu ul li {
  margin-left: 15px;
}
.footer_menu ul li a {
  color: white;
}
.footer_menu ul li:nth-child(1) {
  margin-left: 0;
}
.footer_text {
  grid-column: span 12;
  text-align: center;
}
